<div class="parent col">
    <section class="section">
        <div class="character">
            <div class="img-container">
                <img src={{character.photoURL}} alt="img" class="img">
            </div>
            <p>Name: {{character.pseudo | uppercase}}</p>
            <p>Score: {{character.score | score}}</p>
        </div>
        <div class="backreview">
            <app-review (review)="onVoted($event)" [btn]="disabledBtn1" [btn2]="disabledBtn2"></app-review>
        </div>
    </section>
</div>
